[2015-11-06 01:28] maboiteaspam opened #1 "being able to load html from a file ?"
Hi!

how do you think about importing html template via a specific instruction instead of inline it within the html comment ?

I feel little bothered to put indented html in the css comments, for some more complex components.

thanks ! Great software ! looks really cool.

[2015-11-06 04:22] maboiteaspam opened #2 "[crlf] is not recognized"
Hi,

noticed that when a document use CRLF instead of LF, the parser won t recognize the comments.

problem lies here
https://github.com/jonathantneal/mdcss/blob/master/index.js#L37

and

https://github.com/jonathantneal/mdcss/blob/master/index.js#L5

I d suggest to to improve the `README` to invite windows user to stack a task to convert the new lines.

Much like you did for postcss.

That way th

[2015-11-06 04:29] maboiteaspam opened #3 "[html_example] does not render as text"
Hi,

Given a css file like,
[code]

In the resulting output the html_example MD block is not recognized and printed as HTML.

Looks like,

[code]

[code]

not sure where is the issue.

[2015-11-06 18:45] JordanChoo commented on #3
I am getting a similar error as well.

[2015-11-09 13:13] jonathantneal commented on #1
That’s a really great idea. I wonder if it may work best to add a special `import` meta property to handle this.

[2015-11-17 17:16] jonathantneal commented on #3
I’m sorry. I think this is because you copied my example which includes an invisible character inside ``` that is used to prevent the code block from being parsed. Manually type it out and try it. Is the issue resolved?

[2015-11-18 05:13] maboiteaspam commented on #3
yes ! That s cool, it works now.

Could this help to avoid this invisible character ?
http://meta.stackexchange.com/questions/82718/how-do-i-escape-a-backtick-in-markdown

I mean, this technique (invisible character) is cool, but un-friendly to document, so maybe those escpate sequence could improve the doucmentation.

[2015-11-18 05:13] #3 closed

[2015-11-18 05:26] maboiteaspam opened #4 "documented css should also be processed in the style guides document"
Hi,

I have this css documentation

		/*---
		title:   f-brand + f-light
		section: Text
		---

		Lowercase text:

		<div class='f-brand f-light'>lorem ipsum</div>

[code]
		*/
		.f-brand .f-light,
		.f-brand.f-light{
			font-weight: normal;
			font-family: FuturaStdLight, Arial;
		}

Which is working smoothly : )

Except that i would really like to also display the resulting rendering, which is w

[2015-11-18 16:28] jonathantneal commented on #4
This sounds like a case for `example:html`.

[code]

Would that be what you wanted?

[2015-11-18 17:09] jonathantneal commented on #2
Alternatively, I could use `[\n\r]+`, yes?

[2015-11-19 07:36] maboiteaspam commented on #2
Hi,

How about using `m` modifier ? With a slight change in the regex, like this

[code]

on my copy here, i made the change, re generated, then it worked.

But i did not run the test.

for reference,
http://stackoverflow.com/questions/918806/difference-between-regular-expression-modifiers-m-and-s
http://stackoverflow.com/questions/1979884/how-to-use-javascript-regex-over-multiple-lines

[2015-11-19 07:43] maboiteaspam commented on #4
Hi,

no, that won t work,

see
![image](https://cloud.githubusercontent.com/assets/530732/11265059/fea1a430-8ed3-11e5-85b5-61198ba508cd.png)

with this doc,

[code]

BTW, as you can see the invisible character is not needed , just prefix the markdown with 4 spaces.
(becaue I copy - pasted your suggestions, and that broke ; ) again )

[2015-11-19 08:18] maboiteaspam commented on #4
hi,

i have dig a little more about that.

So somehow, i have been able to inject my css files into the iframe.

Except that one the css defines fonts-family and they are not reachable from mdcss resulting file.

So, my guess is that it can t be about copying only the parsed css file, but instead provide a whole directory to copy into styleguide folder.
Then it may work.

Any suggestions ? Seems l

[2015-11-19 08:25] maboiteaspam commented on #4
for reference, it more or less looks likes this

[code]

[code]

[2015-11-21 14:24] grouchal commented on #1
What would be great would be the support to load external handlebars files for the HTML this enables and HTML to be reused in the style guide to and the actual system.

[2015-11-25 15:10] allenmoore opened #5 "Warning when running grunt PostCSS task after initial run"
I've added mdcss to the PostCSS grunt tasks for an upcoming project. When running grunt, after running grunt to generate the initial style guide, a warning is thrown in the PostCSS grunt task. This is a copy of the warning:

[code]

I have custom options in place for mdcss that change the directory name, title, and uses a custom logo. In order to determine if the warning is due to the custom optio

[2015-12-23 23:30] plesiecki commented on #4
Hello @maboiteaspam. Try following configuration

[code]

Also this doc http://jonathantneal.github.io/mdcss-theme-github/demo/#options might be helpful

[2015-12-25 09:28] paazmaya opened #6 "Tag releases"
Please use `git tag` for tagging the existing and future releases so it will be easier to see what has changed since the previous and/or between two releases.

It will also make it easier to see if a certain fix has been released to `npm` in the given release.

[2015-12-31 07:25] #2 closed

[2016-01-04 05:06] jonathantneal commented on #6
Good suggestion. I will keep this open until the next release when I (hopefully) do this successfully. Thank you.

[2016-01-04 05:13] jonathantneal commented on #1
Feel free to open a separate issue for handlebars, because I would need more details into how that would work and how data might be passed into the template. However, this feature has since been added to mdcss: https://github.com/jonathantneal/mdcss#writing-documentation

[2016-01-04 05:13] #1 closed

[2016-01-07 03:19] zrothauser commented on #5
I'm getting the same problem, with the following settings:

[code]

[2016-01-07 16:46] maoberlehner opened #7 "shorthand hex colors do not work as expected"
There is no border around the color and the font color of the color code should be dark

![Shorthand hex color](http://i.imgur.com/CTF4YqB.png)

[2016-01-07 17:00] maoberlehner opened #8 "problems with the calculated height of the example:html iframe for floating items"
Most likely the height of the iframe is calculated **before** the example css files are loaded

Screenshot 1 - the iframe is to high when the items are floating:
![iframe to high with floating items](http://i.imgur.com/ZhZE1we.png)

Screenshot 2 - when I remove the float from the items, the height fits:
![iframe fits](http://i.imgur.com/Euvj96I.png)

[2016-01-13 07:32] morishitter opened #9 "How can I read own CSS file?"
I tried to use mdcss in gulp, but I have a problem.

gulpfile.js:

[code]

src/css/sample.css(the code is picked from README):

[code]

Above is the code I tried.

But, I could not get a correct result.  Here is the generated code block.

[code]

There are no styles in `sample.css`(`.btn{}` rule).

I wish your help.

[2016-01-22 21:05] jonathantneal commented on #9
You can reference CSS files by passing an `examples.css` object into mdcss, like so.

[code]

The URL will be relative to the directory of the styleguide. Does this answer your question?

[2016-01-24 14:21] msaktype commented on #9
@jonathantneal Thank you. I will try it :)

[2016-01-25 10:18] asifshirazi commented on #8
I have only a div with the height of **73px** in body, but on iframe it calculates **298px**.

![screen shot 2016-01-25 at 3 06 36 pm](https://cloud.githubusercontent.com/assets/7354813/12548031/715c4464-c375-11e5-948f-92c045ea675d.png)

[2016-01-25 11:33] asifshirazi opened #10 "Section order in left nav (question)"
Is there any way to re-order any section in side bar nav?

[2016-01-28 22:40] stephenway opened #11 "Front Matter and Nav Missing"
Just upgraded to 1.4.0 and my front matter and nav are missing. I paired it down to 2 partials as well and it won't work for some reason.
![screen shot 2016-01-28 at 2 19 37 pm](https://cloud.githubusercontent.com/assets/38894/12660840/d4d177a6-c5ca-11e5-8742-7d13ec03e098.png)

In my processors:
[code]

My front matter is formatted like this:

[code]

If this is more related to how the github them

[2016-01-28 23:05] jonathantneal commented on #11
I’m so sorry to hear about this. This project is fairly near to my heart, so I’ll see if I can look into it tonight. I have a pretty full plate, but I don’t want anyone to feel turned away by mdcss.

[2016-01-28 23:14] stephenway commented on #11
Thanks @jonathantneal I understand and respect your time.

[2016-01-29 04:09] jonathantneal commented on #11
Thanks for your patience. I was able to fix the problem and I’ve published the update!

[2016-01-29 06:10] jonathantneal commented on #9
Hey there. This feature has been working for folks. Would you mind if I close this out or did you have more to add?

[2016-01-29 06:12] stephenway commented on #11
Awesome, thanks for the quick turn-around! :+1:

[2016-01-29 06:23] jonathantneal commented on #11
Would you confirm that it’s working for you so that we might close this?

[2016-01-29 06:28] jonathantneal commented on #8
The calculation is handled `onload` and then reoccurs on a 1/3 second `interval`. https://github.com/jonathantneal/mdcss-theme-github/blob/gh-pages/assets/examples.js#L134-L138

Would you provide more details for your example? I am happy to look into the issue.

[2016-01-29 06:33] jonathantneal commented on #6
Thank you again for this suggestion.

https://github.com/jonathantneal/mdcss/tree/v1.4.1

[2016-01-29 06:33] #6 closed

[2016-01-29 06:37] jonathantneal commented on #5
Are you still having this issue? There has not been an `unlink` method used in mdcss, and any `fs` calls are either synchronous within try / catches or integrated with Promises.

[2016-01-29 06:38] jonathantneal commented on #4
Thanks @plesiecki. Closing this one out.

[2016-01-29 06:38] #4 closed

[2016-01-29 06:43] jonathantneal commented on #10
There is not a convenience method that can be used from the markdown at this time. It is in order of appearance. How might you want this feature to work? Like so?

[code]

This example would push `Subheadings` to the top.

[2016-01-29 07:13] asifshirazi commented on #10
yes....! this is what I need to say :) this enhancement will be helpful for us.

[2016-01-29 07:35] asifshirazi commented on #8
If you have too many blocks elements or unordered list in your `example:html` then you can see this issue, basically he calculates `iframe` height before my css files are loaded.
If I comment _line.136_ of **examples.js**, then this will works fine, but I know this is not the right solution.

[2016-01-29 08:14] jonathantneal commented on #8
Ah! So, the issue is that the iframe has issues sizing back down. Thanks, I will work on this.

[2016-01-29 08:15] jonathantneal commented on #10
Great, I will look into adding this.

[2016-01-29 08:15] jonathantneal commented on #7
I have replicated this and a fix will arrive in the next release. Thank you! I’ll leave this open until it is published.

[2016-01-29 08:54] asifshirazi commented on #10
Thats cool!, thank you so much @jonathantneal

[2016-01-29 10:06] allenmoore commented on #5
I am still having this issue. Yesterday, I integrated mdcss into a new project. I tested with the defaults, plus changing the default directory to a custom location. In every instance, this error occurred.

Is there a potential conflict with another grunt module? I can provide a package.json example of that would help.

[2016-01-29 12:01] msaktype commented on #9
Sorry, I could solve my probrem, so feel free to close this issue. Thank you for your help :)

[2016-01-29 15:32] jonathantneal commented on #9
Awesome! I hope mdcss works well for you, and don’t hesitate to open an issue if you have other issues or requests.

[2016-01-29 15:32] #9 closed

[2016-01-29 15:36] jonathantneal commented on #5
Yes, please do provide whatever information should allow me to replicate the issue. If it’s a conflict, then it would be valuable to understand the conflict and either mention it in the documentation or file an issue with the conflicting project.

[2016-01-29 17:34] #11 closed

[2016-01-29 17:35] jonathantneal commented on #5
Some systems have issue overwriting files without first clearing the directory. This has been resolved in 1.5.0. Thanks, @allenmoore!

[2016-01-29 17:35] #5 closed

[2016-01-29 17:47] jonathantneal commented on #10
Great suggestion, again. This is now available in mdcss-theme-github [v2.2.0](https://github.com/jonathantneal/mdcss-theme-github/commit/9d92dab27343967f253d3f924260a573c13706a2)

Use `order: <number>` to sort anything.

[2016-01-29 17:47] #10 closed

[2016-01-29 17:48] jonathantneal commented on #7
Great find. This is now fixed in mdcss-theme-github [v2.2.0](https://github.com/jonathantneal/mdcss-theme-github/commit/9d92dab27343967f253d3f924260a573c13706a2)

[2016-01-29 17:48] #7 closed

[2016-01-29 17:50] maoberlehner commented on #7
Awesome! This tool makes my life a lot easier, thank you!

[2016-01-29 18:59] stephenway commented on #11
Confirmed!

[2016-01-30 14:58] asifshirazi commented on #8
One more thing that I want to share related with this bug,
If you select the **iframe** dom in chrome inspector and uncheck the height,
then from **example.js** > `setInterval(resize, 334);` will calculate the final height which is accurate.

![iframe-height](https://cloud.githubusercontent.com/assets/7354813/12696392/7fb010ee-c78b-11e5-9f31-9f0565b400d6.gif)

[2016-01-30 20:06] ethyde opened #12 "Grunt Task Error Fatal error: fs.emptyDir is not a function"
Hi,

I try to add ```mdcss``` to a Postcss project. But i have the following error ```Fatal error: fs.emptyDir is not a function```.

My grunt task
[code]
In my package.json
[code]

Thanks for your help ! :)

[2016-02-02 20:13] stephenway opened #13 "fs-extra emptyDir not a function"
Just upgraded to 1.5 and got this:

[code]
[node_modules/mdcss/index.js:160:14](https://github.com/jonathantneal/mdcss/commit/14dd17e764d7a0b776942e27ec40dc1468a55695#diff-168726dbe96b3ce427e7fedce31bb0bcR155)

Seems odd that you have `fs-extra` installed and it's not finding `emptyDir`.

[2016-02-02 20:15] stephenway opened #14 "Multiple comment blocks"
Being able to comment throughout a given partial file would be nice. Currently when you have multiple comments in a file it treats it as a completely separate set of documentation.

Is there a way that `mdcss` could account for extra comment blocks formatted the same way in the same file?

[2016-02-02 20:20] stephenway opened #15 "Modifier search and populate"
It would be great if there were a way to have the styleguide be aware that there are multiple modifier classes and to list out each one separately using a `${modifiers}` variable, or something similar. Kind of like modeling what a component should be, and then reusing that documentation for every other variation.

[code]

[2016-02-02 20:25] stephenway opened #16 "Dynamic Custom Properties"
Scan your stylesheet for CSS Custom Properties (`var()`) and list them with their respective components.

This is not just scanning `:root`,because your just looking at what variables there are in a document, you have less context to what it actually changes. In the document it should be listed with any component that uses it. I'm not entirely sure how this works, but check with the SC5 styleguide

[2016-02-09 23:40] stephenway commented on #12
Looks like this is related to #13. I'm also having this issue, currently a blocker for me.

[2016-02-09 23:41] stephenway commented on #13
Closing because of #12

[2016-02-09 23:41] #13 closed

[2016-02-10 00:48] jonathantneal commented on #12
This is very curious. I’m looking into it right now.

[2016-02-10 14:32] jonathantneal commented on #12
@stephenway, @ethyde, would you share your node version and os? I’m wondering if `fs-promise` is not resolving to use `fs-extra`. I may need to embed this functionality for now.

[2016-02-10 14:38] stephenway commented on #12
@jonathantneal: OS X 10.11.1 and Node v5.5.0

[2016-02-10 15:08] jonathantneal commented on #12
@stephenway, I have pushed a new release [v1.5.1](https://github.com/jonathantneal/mdcss/tree/v1.5.1) that swaps `fs-promise` for an internal method. Please let me know if this resolves the issue. If it does, I will bring it to the attention of the creator of `fs-promise`.

[2016-02-10 15:44] ethyde commented on #12
@jonathantneal Hi,

Os : Win 10 Pro
Node : v 5.1.1

So I have the following error with version 1.5.1 :
![screen_error_mdcss](https://cloud.githubusercontent.com/assets/409987/12952048/6942c8c8-d015-11e5-99b3-e60e10d18225.jpg)

[2016-02-10 16:25] jonathantneal commented on #12
This is unrelated to your original error, and seems to be permission related. Would you create a new issue for it? @stephenway, would you let me know how it is working for you?

[2016-02-10 18:15] stephenway commented on #12
Yea I'm back on 1.4 but I'll upgrade today and test it out.

[2016-02-10 21:00] ethyde opened #17 "Permission Error."
As I said in #12, with version 1.5.1, when I start the task, it create the ```styleguide ``` folder, and fail after with the following error :
![permission error](https://cloud.githubusercontent.com/assets/409987/12952048/6942c8c8-d015-11e5-99b3-e60e10d18225.jpg)

[2016-02-19 12:05] Ashot-KR opened #18 "Does not generate style guide for multiple css files"
Tried it with postcss (cli and grunt task):
define input source like `styles/*.css` (i have 2 files)
run postcss
randomly get one of result:
1. style giude for the first file with broken html
2. style giude for second file
never get style with docs from both files

[2016-02-19 13:18] entioentio commented on #1
Hi @jonathantneal,
I'm just using this awesome import option, but constantly hitting the wall.
It seems that imported .md files aren't processed by mdss. They're just being imported and printed as plain string.
Can You post maybe some tip or suggestion on what am i doing wrong? Or maybe some workaround?

My test setup is as follows;
css file:

[code]

buttons.md:

[code]

Thanks in advance!

[2016-02-24 20:00] sfinevelir commented on #8
I had the same issue, and—probably not the best solution, but—I was able to resolve it by wrapping the contents of the `<iframe>` body in a `<div>`, then using that to detect height changes instead of the `<iframe>` itself. Since the wrapper div doesn't have a fixed height, it shrinks/grows with the contents, independent of the `<iframe>` fixed height.

In [example.js](https://github.com/jonathant

[2016-02-25 23:15] TxHawks commented on #10
This isn't anywhere in the documentation, right? I couldn't find any mention of it.

[2016-02-25 23:22] TxHawks opened #20 "option to include all images in a folder"
It would be really great if it is was possible to include all images located in a specified directory.

This could be used, for example, to automate the documenting of of svg icons, which I think is crucial for a styleguide.

I would think that is should include the image and the file name (and if the svg tag has an ID attribute, than that as well, which would be really useful when using inline sv

[2016-02-26 00:49] jonathantneal commented on #10
If there is not, I would welcome a pull with the documentation. Otherwise, we rely on my remembering to write it, or writing another issue to remind me to do it. :)

[2016-02-26 10:32] TxHawks commented on #10
Is there a way to control the order of the sections themselves rather than that of the subsections?

I mean, push the `Base CSS` section to the top instead of pushing `subheadings` to the top of `Base CSS`.

[2016-02-27 20:07] maoberlehner commented on #8
What I have done to "solve" the problem in my custom mdcss theme:
I removed https://github.com/jonathantneal/mdcss-theme-github/blob/gh-pages/assets/examples.js#L134-L138
and added https://github.com/avalanchesass/avalanche_mdcss_theme/blob/dev/assets/examples.js#L135-L137

So far it works flawless for me.

[2016-02-27 20:20] maoberlehner commented on #14
+1

It would be really nice to "extend" an existing mdcss block like:

[code]

The result should be something like:

[code]

@stephenway if I misinterpreted your proposal and what you mean is different from what I wrote above, please let me now and I open a separate issue.

[2016-02-27 20:35] maoberlehner opened #21 "scss support / variable documentation"
one of my last (s)css documentation problems, that is not already solved by this tool, is how to document scss variable(s) (values).

currently I'm doing something like this:

[code]

The output is somewhat ok but the problem is - this is really ugly, not very "DRY" and it is impossible to document the values of scss maps that way.

The "perfect" solution would be to use the scss files as source f

[2016-02-28 04:43] stephenway commented on #14
Nope, you got it. :+1:

[2016-03-01 21:18] entioentio commented on #21
Hi @maoberlehner
I am just busy with this for a few days. What i do is
- resolve scss imports with help of [import-resolve package](https://github.com/bignimbus/import-resolve) creating one big scss
- walk through the file with regex extracting js object with variable: value pairs
- save this object in json
- import file to mdcss and replace when encounter variable in comment

This works fine, but

[2016-03-02 12:12] maoberlehner commented on #21
I tried something very similar too - I used postcss-import with glob support( `@import 'path/*.scss'` [custom resolve function](https://github.com/postcss/postcss-import/blob/master/CHANGELOG.md#800---2015-01-27))

Theoretically this should do everything I need from glob importing to importing from node_modules directory (`@import 'my-npm-module'` should resolve to `@import 'node_modules/my-npm-mo

[2016-03-02 12:14] maoberlehner commented on #21
With https://github.com/postcss/postcss-scss it would be even possible to use the scss file as source for mdcss directly - I tested this already and it works.

[2016-03-29 12:11] TxHawks opened #22 "Request: support for sub-sections"
I'd like to be able to nest sections.

Say i have `Foo` section, using BEM in my css, I'd like to be able to group all of foo's modifier classes in a subsection of foo and all of its element classes in another subsection, both under the `Foo` section, and separate from other top-level sections.

If this is currently possible, I'm not sure how to achieve this

[2016-03-30 07:25] TxHawks opened #23 "Imports not parsed as markdown"
When a markdown file is imported (automatically or via the `import` detail) it is included as plain text, not parsed as markdown.

**Reduced test case:**
buttons.md:
[code]

buttons.css:
[code]

Produces the following HTML:
[code]
    </a></button><a><button class="btn">Click</button>
    </a><a class="btn" href="/some-page">Some Page</a>
[code]

Expected outcome:
[code]

[2016-03-30 07:38] TxHawks opened #24 "Request: ability to specify path for import detail"
Right now, it seems like mdcss only knows to look for files imported using the `import` detail in the same
directory as the CSS file.

I think one common use-case for `import` is for importing the README file at the beginning of your styleguide.

If I have the following file structure:
[code]

Trying to import the `README.md` with
[code]

Produces the following HTML
[code]

[2016-03-31 07:40] tbekaert commented on #24
I think you forgot something in your `README.md`.

[code]

Does this works?

[2016-03-31 07:54] tbekaert opened #25 "idoc.body is null"
Hi,

I have a small issue using mdcss. I generate my styleguide using Gulp, like so:

[code]

It copy my files in the styleguide folder and files to include are well linked in the html:

[code]

Unfortunately, when I load the `index.html` file in my browser, I get the following error and my style and script files are not loaded:

[code]

It seems like `idoc.body` is `null` but I don't understand w

[2016-03-31 08:00] TxHawks commented on #24
It was just a typo when submitting the reduced test case, real css file does have a `:` after import, and no, unfortunately, it does not work.

[2016-03-31 13:10] tbekaert commented on #25
I've just notice it was a bug in Github Theme so I've created a PR to fix that

[2016-04-05 11:16] hiulit commented on #23
Hey @TxHawks, I found a way to make it work.
I don't know if it's the best way to do it, but it's working for me :)

Line: 90

[code]

 `fs.readFileSync` needs to be passed as an argument of `marked()` function

[2016-04-05 13:20] hiulit commented on #24
I found a solution for this.
At the top of the `index.js'  there are a couple of regexs.

Here's how I left mine so they work with relative paths:

[code]

I've got something like this:

[code]

I don't know if it's the optimal way to go, but it works for me :)

[2016-04-06 17:09] stephenway commented on #12
@jonathantneal I just updated to 1.5.1 with the latest default theme and I can confirm that it compiles for me properly. Sorry for the wait.

[2016-04-14 21:49] stephenway commented on #25
This issue can be closed.

[2016-04-14 21:51] stephenway commented on #24
@hiulit Looks like a simple PR :+1:

[2016-04-14 21:53] stephenway commented on #20
This seems like it could be a new example type in your theme. Check out `color` in examples.js of your theme. You can easily make your own that iterates over each icon you specify.

[2016-04-19 05:40] #25 closed

[2016-04-22 14:39] LFeh opened #27 "How change the logo?"
Hey guys,

I am using the mdcss with stylus and gulp, and it's working perfectly, but I need change the logo and I'm not finding this option.

This is possible?

[2016-04-22 16:01] felipefialho commented on #27
I fixed the problem =)

[code]

[2016-04-22 16:01] #27 closed

[2016-04-22 16:22] felipefialho commented on #9
Hey @jonathantneal, my CSS does't compile here =/

[code]

What the problem?

[2016-04-22 16:38] stephenway commented on #9
@LFeh You might want to check your filesystem and inspect the iframe of your example to see where it's looking for `style.css`. If the file isn't there, your not precompiling into the right path. If the iframe link path is wrong, you can fix it by changing your examples:css path or changing where you put that file at compile time. If your iframe link is completely missing, share some details on yo

[2016-04-22 17:01] felipefialho commented on #9
@stephenway Thanks for your answer.

It's receive only the default css of mdcss

![image](https://cloud.githubusercontent.com/assets/3603793/14748885/9bc4728c-0892-11e6-91a9-1c90932fed08.png)

Here [my gulpfile](https://github.com/LFeh/kratos-boilerplate/blob/master/gulpfile.babel.js)

I don't know what's the problem =/

[2016-04-23 14:34] stephenway commented on #9
So, your CSS won't affect an example:color comment, that is handled by the
mdcss theme. If you want something customized then you can fork the theme.
You should have custom CSS on everything else though.
On Fri, Apr 22, 2016 at 10:01 AM Felipe Fialho notifications@github.com
wrote:

[2016-04-25 14:54] felipefialho commented on #9
@stephenway But, in this case, I don't want change the theme colors, I want add the styles for the elements.

For example.

[This rules](https://github.com/LFeh/kratos-boilerplate/blob/master/src/styl/atoms/types.styl) aren't working, my CSS isn't loading, but the HTML is generated correctly,

Do you understand?

[2016-04-25 18:40] stephenway commented on #9
Your examples:css map isn't pulling in your stylesheets because it doesn't accept wildcards. https://github.com/LFeh/kratos-boilerplate/blob/master/gulpfile.babel.js#L64

In order to get something in there, you will have to point it to one or more stylesheets.

[2016-04-25 18:43] felipefialho commented on #9
I'll try :)

[2016-04-25 19:51] felipefialho commented on #9
Hey @stephenway, the examples.css is injected on scripts, but isn't working yet =/

![image](https://cloud.githubusercontent.com/assets/3603793/14796852/dda8d6c8-0b05-11e6-88f3-9dbe46b2e9c5.png)

[2016-04-25 23:15] stephenway commented on #9
Didn't realize this before, but you can't get outside that directory, so you will need to have your css in the same level. `../` probably won''t work.

[2016-04-26 14:01] felipefialho commented on #9
Hey @stephenway, I added the CSS inside of folder (`css/`) and in same level and in the same level directly, but, doesn't work.

![image](https://cloud.githubusercontent.com/assets/3603793/14820599/bb93a9b2-0b9d-11e6-89bf-613366e1a285.png)

All the time the mdcss reads just the style.css of theme and doesn't gets my style to the components.

@jonathantneal Do you know about this problem?

[2016-04-26 16:39] stephenway commented on #9
Are you on the latest version of mdcss? That doesn't look like it's in an iframe, all of your examples should be wrapped in an iframe. In your documentation that should be wrapped with

[code]

Note: in my example of an example I had to use the wrong characters to show inside a code block. Don't copy and paste this.

[2016-04-26 17:05] felipefialho commented on #9
Perfect!

I did't seen this part in documentation. I was put all content inside the comments, so it did't work.

Thanks @stephenway \o/

[2016-05-12 19:45] #23 closed

[2016-05-12 20:39] #12 closed

[2016-05-12 21:01] stephenway commented on #18
@Ashot-KR This is dependent on your mdcss theme, like in mdcss-theme-github you can specify multiple stylesheets in `examples.css` if you give it a map. Aside from that you can edit the main template for the theme and have the page itself load css files manually.

Closing for now because I am unable to see how your configuring your project.

[2016-05-12 21:01] #18 closed

[2016-05-12 21:05] stephenway commented on #20
You can now specify `assets` option to include your image folder from your project like `mdcss({ assets: ['img', 'fonts', 'js'] })`

[2016-05-12 21:05] #20 closed

[2016-05-12 21:12] stephenway commented on #21
Currently this isn't a planned feature for this project, but I can see that from this thread that there are some ways to maybe create a plugin that could add in this functionality. Additionally pull requests are good too. Thanks

[2016-05-12 21:12] #21 closed

[2016-05-12 21:24] #24 closed

[2016-05-12 21:48] stephenway commented on #22
@TxHawks How do you envision the UI for this feature?

[2016-05-17 14:50] tomByrer commented on #15
Would be very handy for colors & typography:

[code]

[2016-05-23 19:15] stephenway commented on #8
Added last week to mdcss-theme-github

[2016-05-23 19:15] #8 closed

[2016-05-23 21:44] stephenway commented on #17
@ethyde  Could you share your build file (like gulp webpack) so I can try to replicate your issue? Closing for now because we have a new patch release out that potentially fixes this.

[2016-05-23 21:44] #17 closed

[2016-05-25 19:16] stephenway opened #29 "One section visible at a time"
@jonathantneal I'm asking in an issue because I genuinely don't know where to start on this one.

I'd like to expand this project into handling larger scale guides that separate each section per view. Is there a way of doing that where you can only see one section at a time through a theme or is that something that's only possible with a new feature here?

[2016-06-03 19:01] stephenway commented on #15
This can be achieved by using postcss conditional logic (each with var list) wrapped around your documentation block.

[2016-06-03 19:01] #15 closed

[2016-06-17 22:12] stephenway commented on #16
Solved using latest release of simple vars and conditionals.

[2016-06-17 22:12] #16 closed

[2016-06-17 23:01] stephenway commented on #14
After trying this out, I get multiple sections
https://github.com/postcss/postcss-simple-vars/issues/48

[2016-06-23 08:08] gethinoakes opened #31 "Documentation from more than just 1 stylesheet"
Unsure if this can actually be done, as I can't see from the documentation.
I have partial stylesheets that get included into the main style.scss, however if I put any mdcss documentation in these partials it doesn't show up in the outputted documentation.

It only works with mdcss comments inside the main style.scss

Thanks!

[2016-06-28 20:22] stephenway commented on #31
@gethinoakes Could I see your configuration file?

[2016-06-29 10:40] gethinoakes commented on #31
@stephenway I'm using PostCSS and Gulp,

[code]

[2016-06-29 10:53] mtinner opened #32 "not working with windows line separator crlf"
if you setup your css files with crlf line separator you just get an empty page

[2016-06-30 22:13] stephenway commented on #31
Thanks @gethinoakes but could you provide the whole task? I just need to see how your src loading up the css files pattern wise.

[2016-07-01 07:34] gethinoakes commented on #31
Sure,

[code]

mdcss is part of the postcss 'processors' (the only other task in there is autoprefixer). I've also noticed that if I put styles in a subfolder of my styles folder then the StyleGuide gets generated but with no content at all, even if the main style.scss is in the parent folder.

Thanks for your help.

[2016-07-01 20:27] stephenway commented on #31
Sorry I thought it would include your processors, need to see that as well because order matters. Thanks

[2016-07-04 07:46] gethinoakes commented on #31
Ok hah hopefully this is everything?
`sassFiles = srcFolder + '**/*.scss'`

[code]

rucksack currently isn't being used, and even if I take it out it doesn't make a difference.

[2016-07-07 11:31] Yannicvanveen commented on #31
I'm running into the same issue. My Gulp task looks similar:

[code]

I usually keep my components in separate `.scss` files that get imported by a `main.scss` file. I'd like to document these components in their own `.scss` file to keep things clear.

[2016-07-10 18:19] gabrielmanara commented on #9
Hey @jonathantneal, my CSS don't compile with the Styleguide.

Here is my gulp task:

[code]
Can you help me?

[2016-07-11 18:42] gabrielmanara opened #33 "The style guide does not catch my styles"
Hey @jonathantneal, my CSS don't compile with the Styleguide.

Here is my gulp task:

[code]
Can you help me?

[2016-07-13 17:10] mtinner commented on #33
This will may help you
https://github.com/mtinner/CAS-FEE_Project2/blob/develop/src/main/frontend/gulp/styleguide.js

and make sure you have set your line separator to lf

[2016-07-14 10:32] gethinoakes commented on #31
I'm doing pretty much the same as @Yannicvanveen, I have different folders for different parts of my css which are all imported into style.scss.

There are two problems -
1. As soon as I added a folder beneath the main /styles folder it broke mdcss - the styleguide gets generated but there's no content just the header.
2. If all the styles are in the same folder and there's no sub-folders (v.messy

[2016-07-14 13:36] gabrielmanara commented on #33
Thanks @mtinner. Now it's work!

[2016-07-14 13:36] #33 closed

[2016-07-27 16:42] tommilimmot commented on #4
@jonathantneal,
Mdcss is already parsing the comments in the css file. Couldn't it parse the style declarations as well and add/reference them in the iframe for an example:html? (Is there a specific reason why the parsed css file has to be added separately to the examples.css map?)

[2016-08-23 10:59] gethinoakes commented on #31
I've been investigating mdcss. The problem is that one it takes all the documentation comments from one stylesheet and then makes the whole styleguide index.html file from that. So then when it encounters another stylesheet with documentation it does the same thing, overwriting the previously generated styleguide.

Also I noticed the regex for detecting documentation no longer works.

Development

[2016-08-23 15:54] stephenway commented on #31
We really don't test with Sass at the moment. I can vouch for plain CSS files using PostCSS as that is my main workflow. Maybe you could submit a PR? I know there are some issues that are outstanding right now, but I'm under heavy pressure to work on other things at the time being. Once I have more bandwidth I will be working towards a new release.

[2016-08-23 15:59] gethinoakes commented on #31
That's strange, as I tried using plain CSS and had the same result. I have a few ideas on how to solve the issue, just don't know if their viable at the moment. I'm pretty new to all this PostCSS plugin development stuff - but my main task at work right now is to develop a StyleGuide so I'll be looking at this daily, anything I can do to improve mdcss I'll see about submitting a PR.

[2016-08-23 16:46] stephenway commented on #31
Have you tried changing your gulp.src to just top level css files that import partials? (e.g. `return gulp.src(['src/*.scss'])`)

[2016-08-24 08:29] gethinoakes commented on #31
@stephenway yep, the last processed css file that contains documentation overwrites all previous css documentation files - seems to be because it regenerates the whole index.html from that last css file instead of just adding content.

I'm going to see if I can generate different parts of the template separately, and so that content is simply added on from file to file rather than being replaced.

[2016-08-24 18:15] stephenway commented on #31
Interesting, I'm wondering how your forming your files though, is it one stylesheet importing partials with inline or md files linked?

[2016-08-25 08:37] gethinoakes commented on #31
So if I have a main css file that imports other css files that contain documentation, the styleguide generates an empty template with just the layout left intact.

If I have multiple css files with documentation that don't import one another, mdcss only generates a the styleguide with content from the last css file it processed.

It doesn't matter if the markdown is imported or inline.

[2016-08-25 08:43] gethinoakes commented on #31
Currently the css files are processed alphabetically and only documentation from the last one is used.

I am going to try and figure out how to take documentation from multiple css files, and if/when I've got that far I'll try and implement some sort of ordering system.

[2016-08-31 15:06] gethinoakes commented on #31
@jonathantneal & @stephenway

I've hit an impasse with this. I've tried many different solutions, the closest I got was managing to get section titles from two different stylesheets into the one template file, but the content of these sections was all from the second stylesheet and also some of the sections were duplicated.

The underlying issue is that PostCSS returns a single array each time, I'

[2016-08-31 18:08] brunob182 opened #36 "Problem to generate styleguide"
Hey, I'm with a problem to generate my styleguide with windows, it's just a simple task

`gulp.task('style', function()  {
	return gulp.src('css/*.css')
		.pipe(  postcss([
            require('mdcss')({
            	title: 'styleguide',
            	examples:  { css: ['../css/main.css'] },
            })
        ]))
		.pipe(gulp.dest('css'));
});`

after compile, the page looks like this:

![styl

[2016-09-27 13:31] davidhund commented on #15
@stephenway Could you elaborate on this?
I am looking for a way too automate docs/examples for modifiers of Components/Objetcs.

[2016-09-28 11:07] davidhund opened #37 "More robust comment parsing?"
Hey Jonathan,

Firstly: thank you for another neat tool. 🙌

A couple of times I've run into the fact that mdcss is quite picky regarding CSS comment structure/whitespace issues: `example:html` code blocks were not picked up or the comment was shown completely inline, etc.

Also: I've grown used to [CSSDoc](https://timkadlec.com/2008/12/manageable-css-with-cssdoc/) style CSS comments (where each li

[2016-09-30 14:44] davidhund commented on #8
@stephenway — I just noticed I get `Uncaught TypeError: resize is not a function` for https://github.com/jonathantneal/mdcss-theme-github/blob/gh-pages/assets/examples.js#L148 and (therefore) the iframes are not (re)sized correctly.

[2016-10-18 14:42] briandrum commented on #29
Has there been any more consideration given to this feature? I’m interested in using this package but I’m afraid a single-page style guide is a deal-breaker. I’d need at least a page per section, and ideally the option to create a page per component.

[2016-10-26 06:37] sjorsjes opened #38 "Release a new version"
Could you please release and publish a new version with the current bug fixes? My build depends on this fix (https://github.com/jonathantneal/mdcss/commit/c7721d7316e512e68e500f884ebcff993aabc552) but I can't use it because it's not published.

[2016-11-15 00:48] stephenway commented on #38
Published a new patch, sorry for the wait.

[2016-11-15 00:48] #38 closed

[2016-11-29 14:50] TxHawks opened #39 "Error: Cannot find module 'fs-promise'"
My gulpfile has a `import mdcss from 'mdcss';` line in it, and throws the following error stack whenever Gulp is run:

[code]

If the above line is commented out, the error goes away.

[2016-11-29 16:07] stephenway commented on #39
I'm in the process of trying to unpublish 1.5.3 because it has some breaking changes. For now roll back to 1.5.2 and it should fix your problem in the interim.
https://github.com/npm/npm/issues/15061

[2016-11-30 11:28] TxHawks commented on #39
Thanks

[2016-12-19 18:09] jonathanasquier opened #40 "Error: EEXIST: file already exists"
Hi, I'm having this error using mdcss as unique postcss plugin in a webpack build.
I'm using css loader in module mode and postcss loader :
[code]
Could it be the fact that the postcss plugins run multiple times on each css module files? The styleguide would have already been created while parsing the first css module file and fail on second generation.

Would there be a way to prevent that?

Than

[2017-01-18 10:22] iGitScor commented on #39
Hello @stephenway,

why did you not publish version 1.5.4 ?

Thanks

[2017-01-18 23:40] stephenway commented on #39
Time crunched at the moment. Anyone want to do this? Someone needs to fix testing as the latest isn't stable. I'm not comfortable publishing anything until that gets resolved.

[2017-02-10 05:34] asifshirazi commented on #32
@mtinner I'm currently using [gulp-line-ending-corrector](https://www.npmjs.com/package/gulp-line-ending-corrector) in my gulp task for this bug.

[2017-04-15 15:24] jarodtaylor commented on #39
I'm assuming this hasn't been resolved? We have to roll back to version 1.5.2?

[2017-04-15 17:30] iGitScor commented on #39
Not resolved yet @jarodtaylor. I did the same (rollback to 1.5.2) 😞

[2017-04-18 16:11] stephenway commented on #39
Sorry guys, I just removed 1.5.3 so next time you install it won't give you something broken.

[2017-04-26 15:30] jarodtaylor commented on #8
resize() is a reserved javascript function. You'll get an error in your console.

I've also noticed that the `addEventListener('load')` functions in the `examples.js` file do not work on `iframes` following the first one (or two). You'll see when you inspect element that the `iframes` aren't getting height styles AND the `html` and `body` tags aren't getting the styles.

[2017-06-12 01:26] jarodtaylor commented on #40
@jonathanasquier did you resolve this? I'm running into this issue, now too.

[2017-06-12 07:21] jonathanasquier commented on #40
Nope, I believe I flew away...

[2017-06-12 14:21] jarodtaylor commented on #40
@jonathanasquier yeah, unfortunately, I don't think they're really maintaining this repo much, anymore.

[2017-08-14 06:27] 3lmanana commented on #36
I have the same problem. Did you solve it?

[2017-08-14 07:52] 3lmanana commented on #36
Solution https://github.com/jonathantneal/mdcss/issues/32

[2017-08-22 16:12] #40 closed

[2019-01-31 20:21] #39 closed

[2020-04-13 21:47] Risto-Stevcev opened #42 "Styleguide doesn't port over css"
I just followed the basic example

[code]
And tried it with postcss:
[code]
[code]

It generated the styleguide but it doesn't port over the styles from `index.css`

[2021-08-05 20:05] stordahl commented on #42
@Risto-Stevcev Ever find a solution to this?

[2021-08-06 11:26] Risto-Stevcev commented on #42
Ah I'm not sure it was a while ago, I don't remember which project I used this for